.body{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.container {
 width: 100%;
  height: 100vh;
 background:linear-gradient(rgb(54, 52, 52),rgb(17, 16, 16));
justify-content: center;
align-content: center;
align-items: center;
justify-items: center;


    
}
.calculator{
    background: linear-gradient(45deg,rgba(44, 40, 40, 0.5),rgba(0, 0, 0, 0.8)); 
    width: 350px;
    height: 490px;
    padding:20px;
    /* margin: 20px; */
    justify-content:center;
    border: 2px solid #717377;
    box-shadow: 2px 3px 5px whitesmoke;
}
    .display input{
        width:200px;
        height: 45px;
        background:transparent;
        color: whitesmoke;
        text-align:center;
        font-size: 20px;
        border-radius: 3px;
        box-shadow: 2px 1px 3px whitesmoke;
        margin-right: 25px;
        margin-left: 48px;
         margin-top:10px;
         margin-bottom: 10px;
         padding-left: 20px;
         padding-right: 20px;
         cursor: pointer;
    }
    input::placeholder{
        color: #ffff;
    }
    .btn input {
        font-size:x-large;
        width: 80px;
        height: 70px;
        border: none;
        border-radius: 10px;
        margin-top: 15px;
        margin-left: 4px;
        padding: 3px;
        border-radius: 50%;
        background: transparent;
        color: #ffff;
        box-shadow: -8px -8px 15px rgba(153, 160, 160, 0.1);
        cursor: pointer;
    }
.btn .equalbtn{
        background-color: #fb7c14;
        height: 65px;
        width: 72px;
        box-shadow: -8px -8px 15px rgba(153, 160, 160, 0.1);
    }
    .btn .operator {
        color: green;
    } 
   
    